<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="false" />
    <include file="$(find heron_sim)/launch/empty_world.launch">
        <arg name="world_name" value="$(find vmrc_gazebo)/worlds/dev.world"/>
        <arg name="max_update_rate" value="50.0"/>
        <arg name="time_step" value="0.02"/>
        <arg name="paused" value="false"/>

        <arg name="verbose" value="true"/>
        <arg name="use_sim_time" value="true" />
    </include>

    <include file="$(find heron_sim)/launch/spawn_urdf_model.launch">
        <arg name="rover_links"    value="$(find heron_sim)/models/heron/heron_gazebo.xacro" /> <!-- model links and joints  -->

        <arg name="x"     value="0.0" /> <!-- meters -->
        <arg name="y"     value="0.0" /> <!-- meters -->
        <arg name="z"     value="0.0" /> <!-- meters -->
        <arg name="roll"  value="0.0" /> <!-- radians -->
        <arg name="pitch" value="0.0" /> <!-- radians -->
        <arg name="yaw"   value="0.0" /> <!-- radians -->
    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="odom_pub" pkg="utils_sim" type="gazebo2odom" />
    <node name="lidar_near" pkg="utils_sim" type="lidar_nearest" />
    <node name="lin_control" pkg="utils_sim" type="lin_vel_control" />
</launch>
